@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}

body {
  background: #171933;
}

body.ingame header,
body.ingame .game {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

::-webkit-scrollbar {
  background: #1b1e3d;
}

::-webkit-scrollbar-thumb {
  background: #2a2e5e;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a63ff;
}

::-moz-selection {
  background: #5a63ff;
  color: #e0e6ff;
}

::selection {
  background: #5a63ff;
  color: #e0e6ff;
}

h1,
h2 {
  font-family: "Orbitron", sans-serif;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.wave {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

#particles-js {
  position: absolute;
  height: 200%;
  width: 100%;
  top: 0;
}

h3,
.rules li span {
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-animation: bg_rotate 3s linear infinite;
          animation: bg_rotate 3s linear infinite;
}

h3#meteorite,
.rules li span#meteorite {
  background: -webkit-gradient(linear, left top, right top, from(#db8138), color-stop(50%, #d34f1b), to(#db8138));
  background: linear-gradient(90deg, #db8138 0%, #d34f1b 50%, #db8138 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
}

h3#star,
.rules li span#star {
  background: -webkit-gradient(linear, left top, right top, from(#d7d10f), color-stop(50%, #cb9d1d), to(#d7d10f));
  background: linear-gradient(90deg, #d7d10f 0%, #cb9d1d 50%, #d7d10f 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
}

h3#rocket,
.rules li span#rocket {
  background: -webkit-gradient(linear, left top, right top, from(#0fd7d5), color-stop(50%, #2376d4), to(#0fd7d5));
  background: linear-gradient(90deg, #0fd7d5 0%, #2376d4 50%, #0fd7d5 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
}

h3#nothing, h3#letplay,
.rules li span#nothing,
.rules li span#letplay {
  background: -webkit-gradient(linear, left top, right top, from(#f7f7f7), color-stop(50%, #b6b6b6), to(#f7f7f7));
  background: linear-gradient(90deg, #f7f7f7 0%, #b6b6b6 50%, #f7f7f7 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
}

h2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100vh;
  background: #1b1e3d;
  -webkit-transition: 0.6s cubic-bezier(0.4, 0, 0.35, 1);
  transition: 0.6s cubic-bezier(0.4, 0, 0.35, 1);
}

header .title {
  position: relative;
  z-index: 10;
  margin-bottom: 75px;
}

header .title h1 {
  text-align: center;
  color: #e0e6ff;
  font-size: 64px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

header .title p {
  text-align: center;
  color: #6495ff;
  font-size: 20px;
  margin-top: 14px;
}

header .rules {
  position: relative;
  z-index: 10;
  background: #22244d;
  border: 1px solid #2a2e5e;
  border-radius: 5px;
  margin: 0 25px;
  padding: 25px;
  max-width: 800px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 25px;
}

header .rules h2 {
  position: absolute;
  -webkit-transform: translateY(-115%);
          transform: translateY(-115%);
  background: #e0e6ff;
  padding: 5px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

header .rules p {
  color: #e0e6ff;
  font-size: 18px;
  margin-bottom: 25px;
}

header .rules li {
  text-align: center;
  font-size: 22px;
  color: #e0e6ff;
}

header a[href^="#"] {
  position: relative;
  color: #6495ff;
  z-index: 10;
  background: transparent;
  font-size: 24px;
  font-weight: 700;
  border: 2px solid #6495ff;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header a[href^="#"]:hover {
  color: #e0e6ff;
  background: #6495ff;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

header aside {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
  background: #22244d;
  padding: 10px 15px;
  border-bottom-left-radius: 3px;
  border-left: 1px solid #2a2e5e;
  border-bottom: 1px solid #2a2e5e;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

header aside h4 {
  font-size: 20px;
  color: #e0e6ff;
}

header aside h4 a {
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-animation: bg_rotate 3s linear infinite;
          animation: bg_rotate 3s linear infinite;
  background: -webkit-gradient(linear, left top, right top, from(#b40fd7), color-stop(50%, #7d0fd7), to(#b40fd7));
  background: linear-gradient(90deg, #b40fd7 0%, #7d0fd7 50%, #b40fd7 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
}

@media screen and (max-width: 985px) {
  header .title h1 {
    font-size: 44px;
  }
  header .title p {
    font-size: 18px;
  }
}

@media screen and (max-width: 680px) {
  header .title {
    padding: 15px;
    margin-bottom: 40px;
  }
  header .title h1 {
    font-size: 32px;
  }
  header .title p {
    font-size: 16px;
  }
  header #start {
    font-size: 20px;
  }
  header .rules h2 {
    font-size: 20px;
    -webkit-transform: translateY(-125%);
            transform: translateY(-125%);
  }
  header .rules p {
    font-size: 16px;
  }
  header .rules li {
    font-size: 18px;
  }
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100vh;
  background: #1b1e3d;
  -webkit-transition: 0.6s cubic-bezier(0.4, 0, 0.35, 1);
  transition: 0.6s cubic-bezier(0.4, 0, 0.35, 1);
}

.game svg.wave {
  position: absolute;
  top: 0;
  left: 0;
}

.game a {
  position: absolute;
  z-index: 5;
  top: 25px;
  right: 50px;
  background: transparent;
  border: none;
  color: #e0e6ff;
  font-size: 20px;
}

.game a:hover::after {
  left: 0;
  width: 100%;
}

.game a::before, .game a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  height: 2px;
  width: 100%;
  background: #e0e6ff;
  background-size: 200% 100% !important;
  -webkit-animation: bg_rotate 2s linear infinite;
          animation: bg_rotate 2s linear infinite;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.game a::after {
  background: -webkit-gradient(linear, left top, right top, from(#b40fd7), color-stop(50%, #7d0fd7), to(#b40fd7));
  background: linear-gradient(90deg, #b40fd7 0%, #7d0fd7 50%, #b40fd7 100%);
  width: 0;
}

.game .points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 5;
  max-width: 400px;
  max-height: 55px;
  background: #22244d;
  border: 1px solid #2a2e5e;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin-bottom: 20px;
}

.game .points .user_points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game .points .user_points .win_points {
  font-size: 26px;
  color: #e0e6ff;
  background: #5a63ff;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 0 10px;
  margin: 0 10px;
}

.game .points .user_points i {
  color: #6495ff;
  font-size: 24px;
}

.interface_game {
  position: relative;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.6fr 0.8fr;
      grid-template-columns: 1.6fr 0.8fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 25px;
  padding: 25px;
}

.interface_game .objects_choice {
  position: relative;
  background: #22244d;
  border: 1px solid #2a2e5e;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  padding: 25px;
}

.interface_game .objects_choice h2 {
  position: absolute;
  -webkit-transform: translateY(-115%);
          transform: translateY(-115%);
  background: #e0e6ff;
  padding: 5px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.interface_game .objects_choice p {
  color: #e0e6ff;
  font-size: 18px;
  margin-bottom: 10px;
}

.interface_game .objects_choice .objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.interface_game .objects_choice .objects .object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #282b5c;
  border-radius: 3px;
  border: 1px solid #2a2e5e;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 10px 15px 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.interface_game .objects_choice .objects .object.active {
  background: #5a63ff;
}

.interface_game .objects_choice .objects .object.active img {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.interface_game .objects_choice .objects .object img {
  width: 125px;
  margin-bottom: 10px;
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
}

.interface_game .logs {
  -ms-grid-row: 2;
  grid-row: 2;
  position: relative;
  background: #22244d;
  border: 1px solid #2a2e5e;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  padding: 25px;
}

.interface_game .logs h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-30%, 50%);
          transform: translate(-30%, 50%);
  background: #e0e6ff;
  padding: 5px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.interface_game .logs .actions {
  width: 100%;
  height: 100%;
  background: #171933;
  border: 1px solid #2a2e5e;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  height: 215px;
  overflow-y: scroll;
}

.interface_game .logs .actions::-webkit-scrollbar {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.interface_game .logs .actions p {
  color: #e0e6ff;
  line-height: 1.8;
}

.interface_game .logs .actions p i {
  font-size: 14px;
}

.interface_game .logs .actions p i.fa-equals {
  color: #b515ff;
}

.interface_game .logs .actions p i.fa-check {
  color: #15ff92;
}

.interface_game .logs .actions p i.fa-times {
  font-size: 16px;
  color: #ff1515;
}

.interface_game .logs .actions p i.fa-user-astronaut {
  font-size: 16px;
  color: #6495ff;
}

.interface_game .logs .actions p i.fa-robot {
  color: #6495ff;
}

.interface_game .right_side {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.interface_game .right_side .computer_actions {
  position: relative;
  height: calc(100% - 82px);
  background: #22244d;
  border: 1px solid #2a2e5e;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  padding: 25px;
}

.interface_game .right_side .computer_actions h2 {
  position: absolute;
  right: 0;
  -webkit-transform: translate(-50%, -115%);
          transform: translate(-50%, -115%);
  background: #e0e6ff;
  padding: 5px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.interface_game .right_side .computer_actions .computer_choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #282b5c;
  border-radius: 3px;
  border: 1px solid #2a2e5e;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 10px 15px 5px;
}

.interface_game .right_side .computer_actions .computer_choice img {
  width: auto;
  margin-bottom: 10px;
  -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
}

.interface_game .right_side .computer_actions .last_choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}

.interface_game .right_side .computer_actions .last_choice p {
  color: #e0e6ff;
  font-size: 22px;
}

.interface_game .right_side .computer_actions .last_choice h3 {
  font-size: 26px;
}

.interface_game .right_side .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.interface_game .right_side .btn #launch_round,
.interface_game .right_side .btn #reset_btn {
  background: transparent;
  color: #6495ff;
  font-size: 22px;
  font-weight: 700;
  border: 2px solid #6495ff;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.interface_game .right_side .btn #launch_round:hover,
.interface_game .right_side .btn #reset_btn:hover {
  color: #e0e6ff;
  background: #6495ff;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.interface_game .right_side .btn #launch_round {
  width: 100%;
  margin-right: 15px;
}

.interface_game .right_side .btn #reset_btn {
  height: 100%;
  border: 2px solid #ff2525;
  color: #ff2525;
}

.interface_game .right_side .btn #reset_btn:hover {
  color: #e0e6ff;
  background: #ff2525;
  border: 2px solid #ff2525;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1120px) {
  .interface_game {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    grid-gap: 35px;
  }
  .game .points {
    margin-top: 90px;
  }
  .interface_game .logs h2 {
    -webkit-transform: translate(130%, 45%);
            transform: translate(130%, 45%);
    bottom: 100%;
    right: 100%;
  }
  .interface_game .right_side {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .interface_game .right_side .computer_actions h2 {
    -webkit-transform: translate(160%, -115%);
            transform: translate(160%, -115%);
    right: 100%;
  }
}

@media screen and (max-width: 750px) {
  .game {
    padding: 10px;
  }
  .game .points .user_points .win_points {
    font-size: 20px;
  }
  .game .points .user_points i {
    font-size: 20px;
  }
  .game .points .rounds p {
    font-size: 20px;
  }
  .interface_game .objects_choice p {
    font-size: 16px;
  }
  .interface_game .log .actions p {
    font-size: 16px;
  }
  .interface_game .right_side .computer_actions {
    height: auto;
  }
  .interface_game .right_side .btn #launch_round,
  .interface_game .right_side .btn #reset_btn {
    font-size: 20px;
  }
}

@media screen and (max-width: 680px) {
  .game .interface_game h2 {
    font-size: 20px !important;
  }
  .interface_game .objects_choice h2 {
    -webkit-transform: translateY(-125%);
            transform: translateY(-125%);
  }
  .interface_game .objects_choice .objects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .interface_game .objects_choice .objects .object {
    margin-top: 15px;
  }
  .interface_game .right_side .computer_actions h2 {
    -webkit-transform: translate(160%, -125%);
            transform: translate(160%, -125%);
  }
  .interface_game .right_side .computer_actions .computer_choice img {
    width: 75%;
  }
  .interface_game .right_side .computer_actions .last_choice {
    margin-top: 25px;
  }
  .interface_game .right_side .computer_actions .last_choice p {
    font-size: 20px;
  }
  .interface_game .right_side .computer_actions .last_choice h3 {
    font-size: 22px;
  }
  .interface_game .right_side .btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .interface_game .right_side .btn #launch_round {
    margin-right: 0;
  }
  .interface_game .right_side .btn #reset_btn {
    width: 100%;
    margin-top: 15px;
  }
}

@-webkit-keyframes bg_rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes bg_rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
/*# sourceMappingURL=style.css.map */