@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Space Mono", monospace;
    scroll-behavior: smooth;
}

body {
    background: #171933;
}

// Scrollbar & Selection :
::-webkit-scrollbar {
    background: #1b1e3d;
}

::-webkit-scrollbar-thumb {
    background: #2a2e5e;
}

::-webkit-scrollbar-thumb:hover {
    background: #5a63ff;
}

::selection {
    background: #5a63ff;
    color: #e0e6ff;
}

// Reset :
h1,
h2 {
    font-family: "Orbitron", sans-serif;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.wave {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

#particles-js {
    position: absolute;
    height: 200%;
    width: 100%;
    top: 0;
}

// Hn & Span :
h3,
.rules li span {
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    animation: bg_rotate 3s linear infinite;

    &#meteorite {
        background: linear-gradient(90deg, rgb(219, 129, 56) 0%, rgb(211, 79, 27) 50%, rgb(219, 129, 56) 100%);
        background-size: 200% 100%;
        -webkit-background-clip: text;
    }
    &#star {
        background: linear-gradient(90deg, rgba(215, 209, 15, 1) 0%, rgb(203, 157, 29) 50%, rgba(215, 209, 15, 1) 100%);
        background-size: 200% 100%;
        -webkit-background-clip: text;
    }
    &#rocket {
        background: linear-gradient(90deg, rgba(15, 215, 213, 1) 0%, rgb(35, 118, 212) 50%, rgba(15, 215, 213, 1) 100%);
        background-size: 200% 100%;
        -webkit-background-clip: text;
    }
    &#nothing,
    &#letplay {
        background: linear-gradient(90deg, #f7f7f7 0%, #b6b6b6 50%, #f7f7f7 100%);
        background-size: 200% 100%;
        -webkit-background-clip: text;
    }
}

h2 {
    user-select: none;
}

// Import SCSS :
@import "scss_files/_variables.scss";
@import "scss_files/_mixin.scss";
@import "scss_files/_header.scss";
@import "scss_files/_game.scss";

// Keyframes :
@keyframes bg_rotate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}
