@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Space Mono", monospace;
}

body {
    background: #171933;
    // overflow: hidden;
}

// Reset :
h1,
h2 {
    font-family: "Orbitron", sans-serif;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

body.ingame header,
body.ingame .game {
    transform: translateY(-100%);
}

svg {
}

// Import SCSS :
@import "scss_files/_variables.scss";
@import "scss_files/_mixin.scss";
@import "scss_files/_header.scss";
@import "scss_files/_game.scss";

// Keyframes :
@keyframes bg_rotate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}
