.game {
    @include flexColumn;

    position: relative;
    min-height: 100vh;
    background: $space;
    transition: 0.6s cubic-bezier(0.4, 0, 0.35, 1);

    svg.wave {
        position: absolute;
        top: 0;
        left: 0;
    }
    a {
        position: absolute;
        z-index: 5;
        top: 25px;
        right: 50px;
        background: transparent;
        border: none;
        color: $light-color;
        font-size: 20px;

        &:hover::after {
            left: 0;
            width: 100%;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            right: 0;
            height: 2px;
            width: 100%;
            background: $light-color;
            background-size: 200% 100% !important;
            animation: bg_rotate 2s linear infinite;
            transition: 0.4s;
        }
        &::after {
            background: linear-gradient(90deg, rgba(180, 15, 215, 1) 0%, rgba(125, 15, 215, 1) 50%, rgba(180, 15, 215, 1) 100%);
            width: 0;
        }
    }
    .points {
        @include flexAround;

        position: relative;
        z-index: 5;
        max-width: 400px;
        max-height: 55px;
        background: $card-bg;
        border: 1px solid $border;
        border-radius: 5px;
        box-shadow: 3px 3px 5px $shadow;
        padding: 10px;
        margin-bottom: 20px;

        .user_points {
            @include flexMid;

            .win_points {
                font-size: 26px;
                color: $light-color;
                background: $purple;
                border-radius: 3px;
                box-shadow: 2px 2px 5px $shadow;
                padding: 0 10px;
                margin: 0 10px;
            }
            i {
                color: $constrast;
                font-size: 24px;
            }
        }
    }
}

.interface_game {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 1.6fr 0.8fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    padding: 25px;

    .objects_choice {
        position: relative;
        background: $card-bg;
        border: 1px solid $border;
        border-radius: 5px;
        box-shadow: 3px 3px 5px $shadow;
        padding: 25px;

        h2 {
            position: absolute;
            transform: translateY(-115%);
            background: $light-color;
            padding: 5px 10px;
            border-radius: 3px;
            box-shadow: 3px 3px 5px $shadow;
        }
        p {
            color: $light-color;
            font-size: 18px;
            margin-bottom: 10px;
        }
        .objects {
            @include flexAround;

            .object {
                @include flexColumn;

                background: $royal-blue;
                border-radius: 3px;
                border: 1px solid $border;
                box-shadow: 2px 2px 5px $shadow;
                padding: 10px 15px 5px;
                transition: 0.3s;
                user-select: none;
                cursor: pointer;

                &.active {
                    background: $purple;

                    img {
                        filter: drop-shadow(3px 3px 3px $shadow);
                    }
                }
                img {
                    width: 125px;
                    margin-bottom: 10px;
                    filter: drop-shadow(3px 3px 5px $shadow);
                }
            }
        }
    }
    .logs {
        grid-row: 2;
        position: relative;
        background: $card-bg;
        border: 1px solid $border;
        border-radius: 5px;
        box-shadow: 3px 3px 5px $shadow;
        padding: 25px;

        h2 {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(-30%, 50%);
            background: $light-color;
            padding: 5px 10px;
            border-radius: 3px;
            box-shadow: 3px 3px 5px $shadow;
        }
        .actions {
            width: 100%;
            height: 100%;
            background: $deep-space;
            border: 1px solid $border;
            border-radius: 5px;
            padding: 15px;
            box-shadow: 3px 3px 5px $shadow;
            height: 215px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            p {
                color: $light-color;
                line-height: 1.8;

                i {
                    font-size: 14px;

                    &.fa-equals {
                        color: #b515ff;
                    }
                    &.fa-check {
                        color: #15ff92;
                    }
                    &.fa-times {
                        font-size: 16px;
                        color: #ff1515;
                    }
                    &.fa-user-astronaut {
                        font-size: 16px;
                        color: $constrast;
                    }
                    &.fa-robot {
                        color: $constrast;
                    }
                }
            }
        }
    }
    .right_side {
        grid-row: 1 / span 2;
        user-select: none;

        .computer_actions {
            position: relative;
            height: calc(100% - 82px);
            background: $card-bg;
            border: 1px solid $border;
            border-radius: 5px;
            box-shadow: 3px 3px 5px $shadow;
            padding: 25px;

            h2 {
                position: absolute;
                right: 0;
                transform: translate(-50%, -115%);
                background: $light-color;
                padding: 5px 10px;
                border-radius: 3px;
                box-shadow: 3px 3px 5px $shadow;
            }
            .computer_choice {
                @include flexColumn;

                background: $royal-blue;
                border-radius: 3px;
                border: 1px solid $border;
                box-shadow: 2px 2px 5px $shadow;
                padding: 10px 15px 5px;

                img {
                    width: auto;
                    margin-bottom: 10px;
                    filter: drop-shadow(3px 3px 5px $shadow);
                }
            }
            .last_choice {
                @include flexColumn;

                margin-top: 35px;

                p {
                    color: $light-color;
                    font-size: 22px;
                }
                h3 {
                    font-size: 26px;
                }
            }
        }
        .btn {
            @include flexMid;

            margin-top: 25px;

            #launch_round,
            #reset_btn {
                background: transparent;
                color: $constrast;
                font-size: 22px;
                font-weight: 700;
                border: 2px solid $constrast;
                border-radius: 5px;
                padding: 10px 15px;
                transition: 0.3s;

                &:hover {
                    color: $light-color;
                    background: $constrast;
                    box-shadow: 3px 3px 5px $shadow;
                }
            }
            #launch_round {
                width: 100%;
                margin-right: 15px;
            }
            #reset_btn {
                height: 100%;
                border: 2px solid #ff2525;
                color: #ff2525;

                &:hover {
                    color: $light-color;
                    background: #ff2525;
                    border: 2px solid #ff2525;
                    box-shadow: 3px 3px 5px $shadow;
                }
            }
        }
    }
}

// Responsive :
@media screen and (max-width: 1120px) {
    .interface_game {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-gap: 35px;
    }
    .interface_game .objects_choice .objects .object {
        width: 100%;
    }
    .game .points {
        margin-top: 90px;
    }
    .interface_game .logs h2 {
        transform: translate(130%, 45%);
        bottom: 100%;
        right: 100%;
    }
    .interface_game .right_side {
        grid-row: 3;
    }
    .interface_game .right_side .computer_actions h2 {
        transform: translate(160%, -115%);
        right: 100%;
    }
}

@media screen and (max-width: 750px) {
    .game {
        padding: 10px;
    }
    .game .points .user_points .win_points {
        font-size: 20px;
    }
    .game .points .user_points i {
        font-size: 20px;
    }
    .game .points .rounds p {
        font-size: 20px;
    }
    .interface_game .objects_choice p {
        font-size: 16px;
    }
    .interface_game .log .actions p {
        font-size: 16px;
    }
    .interface_game .right_side .computer_actions {
        height: auto;
    }
    .interface_game .right_side .btn #launch_round,
    .interface_game .right_side .btn #reset_btn {
        font-size: 20px;
    }
}

@media screen and (max-width: 680px) {
    .game .interface_game h2 {
        font-size: 20px !important;
    }
    .interface_game .objects_choice h2 {
        transform: translateY(-125%);
    }
    .interface_game .objects_choice .objects {
        flex-direction: column;
    }
    .interface_game .objects_choice .objects .object {
        margin-top: 15px;
    }
    .interface_game .right_side .computer_actions h2 {
        transform: translate(160%, -125%);
    }
    .interface_game .right_side .computer_actions .computer_choice img {
        width: 75%;
    }
    .interface_game .right_side .computer_actions .last_choice {
        margin-top: 25px;
    }
    .interface_game .right_side .computer_actions .last_choice p {
        font-size: 20px;
    }
    .interface_game .right_side .computer_actions .last_choice h3 {
        font-size: 22px;
    }
    .interface_game .right_side .btn {
        flex-direction: column;
    }
    .interface_game .right_side .btn #launch_round {
        margin-right: 0;
    }
    .interface_game .right_side .btn #reset_btn {
        width: 100%;
        margin-top: 15px;
    }
}
