header {
    @include flexColumn;

    position: relative;
    min-height: 100vh;
    background: $space;

    .title {
        position: relative;
        z-index: 10;
        margin-bottom: 75px;

        h1 {
            text-align: center;
            color: $light-color;
            font-size: 64px;
            text-shadow: 0 5px 5px $shadow;
        }
        p {
            text-align: center;
            color: $constrast;
            font-size: 20px;
            margin-top: 14px;
        }
    }
    .rules {
        position: relative;
        z-index: 10;
        background: $card-bg;
        border: 1px solid $border;
        border-radius: 5px;
        margin: 0 25px;
        padding: 25px;
        max-width: 800px;
        box-shadow: 3px 3px 5px $shadow;
        margin-bottom: 25px;

        h2 {
            position: absolute;
            transform: translateY(-115%);
            background: $light-color;
            padding: 5px 10px;
            border-radius: 3px;
            box-shadow: 3px 3px 5px $shadow;
        }
        p {
            color: $light-color;
            font-size: 18px;
            margin-bottom: 25px;
        }
        li {
            text-align: center;
            font-size: 22px;
            color: $light-color;

            span {
                font-weight: 700;
                -webkit-text-fill-color: transparent;
                animation: bg_rotate 3s linear infinite;

                &#meteorite {
                    background: linear-gradient(90deg, rgba(56, 219, 157, 1) 0%, rgba(10, 148, 53, 1) 50%, rgba(56, 219, 157, 1) 100%);
                    background-size: 200% 100%;
                    -webkit-background-clip: text;
                }
                &#star {
                    background: linear-gradient(90deg, rgba(215, 209, 15, 1) 0%, rgb(203, 157, 29) 50%, rgba(215, 209, 15, 1) 100%);
                    background-size: 200% 100%;
                    -webkit-background-clip: text;
                }
                &#rocket {
                    background: linear-gradient(90deg, rgba(15, 215, 213, 1) 0%, rgb(35, 118, 212) 50%, rgba(15, 215, 213, 1) 100%);
                    background-size: 200% 100%;
                    -webkit-background-clip: text;
                }
            }
        }
    }
    #start {
        position: relative;
        z-index: 10;
        cursor: pointer;
        background: transparent;
        color: $constrast;
        font-size: 24px;
        font-weight: 700;
        border: 2px solid $constrast;
        border-radius: 5px;
        padding: 10px 15px;
        transition: 0.3s;

        &:hover {
            color: $light-color;
            background: $constrast;
            box-shadow: 3px 3px 5px $shadow;
        }
    }
    aside {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 15;
        background: $card-bg;
        padding: 10px 15px;
        border-bottom-left-radius: 3px;
        border-left: 1px solid $border;
        border-bottom: 1px solid $border;
        box-shadow: 2px 2px 5px $shadow;

        h3 {
            font-size: 20px;
            color: $light-color;

            a {
                font-weight: 700;
                -webkit-text-fill-color: transparent;
                animation: bg_rotate 3s linear infinite;
                background: linear-gradient(90deg, rgba(180, 15, 215, 1) 0%, rgba(125, 15, 215, 1) 50%, rgba(180, 15, 215, 1) 100%);
                background-size: 200% 100%;
                -webkit-background-clip: text;
            }
        }
    }
    .wave {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
    }
    #particles-js {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

// Keyframes :
@keyframes bg_rotate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

// Responsive :
@media screen and (max-width: 985px) {
    header .title h1 {
        font-size: 44px;
    }
    header .title p {
        font-size: 18px;
    }
}

@media screen and (max-width: 680px) {
    header .title {
        padding: 15px;
        margin-bottom: 40px;
    }
    header .title h1 {
        font-size: 32px;
    }
    header .title p {
        font-size: 16px;
    }
    header #start {
        font-size: 20px;
    }
    header .rules h2 {
        font-size: 20px;
        transform: translateY(-125%);
    }
    header .rules p {
        font-size: 16px;
    }
    header .rules li {
        font-size: 18px;
    }
}
